.menuItemContainer {
  margin: 10px;
  height: 160px;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sqr {
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  margin-bottom: 5px;
}

.vegSqr {
  border: solid 1px #048002;
}

.nonvegSqr {
  border: solid 1px red;
}

.cir {
  width: 6px;
  height: 6px;
  border-radius: 3px;
}

.vegCircle {
  border: solid 1px #048002;
  background-color: #048002;
}

.nonvegCircle {
  border: solid 1px red;
  background-color: red;
}

.bluesqr {
  width: 92px;
  height: 100%;
  border-radius: 4px;
  background-color: #192f60;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.counterModifier {
  height: 30px;
  width: 70px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  position: relative;
  top: 15px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  padding-left: 3px;
  padding-right: 3px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.53;
  letter-spacing: normal;
  text-align: left;
  color: #61b246;
}

#itemContent {
  display: flex;
  flex-direction: column;
  width: 75%;
}

#itemName {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #292c40;
  margin-bottom: 5px;
}

#itemPrice {
  font-family: RupeeForadian;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: #292c40;
  margin-bottom: 5px;
}

#itemDescription {
  font-family: RupeeForadian;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: left;
  color: #696b78;
}

@media only screen and (max-width: 500px) {
  #itemContent {
    width: 200px;
  }
}
